table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin: auto;
    background-color: aliceblue;
  }
  
  td, th {
    border: 1px solid;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .topright{
    float: right;
   }
   
   .myButton{
    margin-top: 2em;
   }

   hr {
    clear: both;
    visibility: hidden;
}

.animation-box {
  width: 30em;
  height: 5em;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.animation-container {
  width: 1000rem;
  height: 30rem;
}

@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.first-text {
  font-size: 2rem;
  position: absolute;
  left: 2.5rem;
  top: 5rem;
  opacity: 0;
  animation-name: topFadeOut;
  animation-duration: 5s;
  color: white;
}
